.navbar {
  height: 60px;
  background: #06283D; /* fond bleu foncé */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar span {
  font-size: 18px;
  font-weight: bold;
}

.navbar .logout-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.navbar .logout-button:hover {
  background-color: #c0392b;
}
